* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.logo {
  height: 5rem;
  width: 7rem;
}

.flex {
  display: flex;
}
